@using System.Diagnostics.Metrics
@model IEnumerable< Tayseer_AspMVC.Models.School>

@{
    ViewData["Title"] = "قائمة المدارس";
}

<h1>قائمة المدارس</h1>
<partial name="_NotificationsPartial" />
<div class="text-end">
    <a asp-action="Create" class="btn btn-primary mb-3">Create New</a>
</div>



<table class="table table-striped mb-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Stages</th>
            <th>Services</th>
            <th>Regions</th>
            <th>Address</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in Model)
        {
           
            <tr>
                <td>@school.Id</td>
                <td>@school.Name</td>
                <td>@school.Gender</td>
                <td>@school.Stages</td>
                <td>@school.Services</td>
                <td>@school.Region</td>
                <td><a href="@school.Address" target="_blank">رابط اللوكيشن</a></td>
                <td>
                    @if (!string.IsNullOrEmpty(school.ImageUrl))
                    {
                        <img src="@school.ImageUrl" alt="Image" width="80" height="60" class="img-thumbnail" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@school.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@school.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
