@model IEnumerable<Hospital>
@{
    ViewData["Title"] = "Index";
}

<h1>Hospital List</h1>
<partial name="_NotificationsPartial" />
<div class="text-end">
    <a asp-action="Create" class="btn btn-primary mb-3">Create New</a>
</div>

<table class="table table-striped mb-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Services</th>
            <th>Regions</th>
            <th>Address</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hospital in Model)
        {
            <tr>
                <td>@hospital.Id</td>
                <td>@hospital.Name</td>
                <td>@hospital.Services</td>
                <td>@hospital.Region</td>
                <td><a href="@hospital.Address" target="_blank">رابط اللوكيشن</a></td>
                <td>
                    @if (!string.IsNullOrEmpty(hospital.ImageUrl))
                    {
                        <img src="@hospital.ImageUrl" alt="Image" width="80" height="60" class="img-thumbnail" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@hospital.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@hospital.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>